*{
    margin: 0;
    padding: 0;
}
body{
    align-content: center;
    justify-items: space-around;
}

h1{
    text-align: center;
    margin: 20px auto 20px auto;
}

.blocks{
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    height: 150px;
    width: 150px;
    background-color:rgb(135, 186, 229);
    border: black solid 3px;
}